services:
  app:
    build:
      context: .
    ports:
      - "8080:8080"
    environment:
      - SPRING_R2DBC_URL=r2dbc:postgresql://db:5432/assist_db
      - SPRING_R2DBC_USERNAME=postgres
      - SPRING_R2DBC_PASSWORD=postgres
    depends_on:
      - db
    volumes:
      - ..:/app  # Монтирует для dev (но для build используй без, если prod)
    # command удалить — Dockerfile сам запустит

  db:
    image: timescale/timescaledb:latest-pg17
    environment:
      - POSTGRES_DB=assist_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - PGDATA=/var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data: